**/node_modules
.prettierignore
.stylelintignore
.eslintignore
yarn.lock
coverage/

# ESLint as default formatter
**/*.js
**/*.json
**/*.jsx
**/*.mjs
**/*.mts
**/*.ts
**/*.tsx

# YAML VSCode extension as default formatter
**/*.yml
**/*.yaml
